.pulse {
    width: 28.8px;
    height: 28.8px;
    border-radius: 50%;
    background: #0000f3;
    box-shadow: 0 0 0 0 rgba(0,0,243,0.5);
    animation: pulse-kefe91lg 1.5s infinite linear;
    position: relative;
  }
  
  .pulse:before,
  .pulse:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 rgba(0,0,243,0.5);
    animation: inherit;
    animation-delay: -0.5s;
  }
  
  .pulse:after {
    animation-delay: -1s;
  }
  
  @keyframes pulse-kefe91lg {
    100% {
      box-shadow: 0 0 0 57.6px #0000;
    }
  }
  